<div class="container-fluid p-0">
    <div class=" bg-secondary text-center text-white mb-4">
        <p class="h5 w-100">Comprobar gasto</p>
    </div>
    <!-- Button trigger modal -->
    <div class="row m-0 p-2 justify-content-between">
        <button type="button" class="col-md-3 btn btn-success  " data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            <i class="fas fa-hand-holding-usd"></i>
            Reasignar
        </button>
        <button type="button" class="col-md-3 btn btn-primary " data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i
                class="fas fa-file-invoice-dollar mr-1 fa-lg"></i> Mostrar reasignaciones
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="no-border modal-header text-center text-white -2 col-md-12 bg-dark">
                    <p class="h3">
                        Ingresar Recurso
                    </p>
                    <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body m-0 p-0 bg-sistem">
                    <form action="/comprobacionDeGastos/reasignar/{{IdAsignacionPresupuesto}}/{{IdUsuarioRaizAsigna}}"
                        method="post">
                        <div class="container bg-rgba-dark text-white ">
                            <div class="row bg-primary p-0">
                                <div class="col-md-9 h-5  text-center text-white">
                                    Asignacion raiz: {{IdAsignacionPresupuesto}}
                                </div>
                                <div class="col-md-1 h-5 bg-dark text-center text-white">
                                    Id: {{IdRecurso}}
                                </div>
                                <div class="col-md-2 h-5  bg-danger  text-center text-white">
                                    Monto:{{FMoney MontoTotal}}
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-md-4">
                                    <label class="form-label">Tipo de reasignacion</label>
                                    <select required name="IdInputTipoAsignacion" id="IdInputTipoAsignacion"
                                        class="form-select form-control  bg-dark text-white">
                                        <option value="0" hidden>Elige un tipo..</option>
                                        {{#each TipoAsignacion}}
                                        <option value="{{IdTipoAsignacion}}">
                                            {{TipoAsignacion}}
                                        </option>
                                        {{/each }}
                                    </select>
                                </div>
                                <div class="col-md-4" id="colObra">
                                    <label class="form-label">Selecciona una obra</label>
                                    <select data-live-search="true" name="IdObra" id="IdInputObra"
                                        class="form-select form-control  bg-dark text-white">
                                        <option value="0" disabled selected></option>
                                        {{#each Obras}}
                                        <option value="{{IdObra}}">
                                            {{AliasNombreObra}}
                                        </option>
                                        {{/each }}
                                    </select>
                                </div>
                                <div class="col-md-4" id="colDepto">
                                    <label class="form-label">Selecciona un departamento</label>
                                    <select name="IdDepto" id="IdInputDepto" class="form-select">
                                        <option value="0" disabled selected></option>
                                        {{#each Departamentos}}
                                        <option value="{{IdDepartamento}}">
                                            {{Departamento}}
                                            {{/each }}
                                    </select>
                                </div>
                                <div class="col-md-4" id="colCot">
                                    <label class="form-label">Selecciona una cotizacion</label>
                                    <select name="IdCotizacion" id="IdInputCotizacion" class="form-select">
                                        <option value="0" disabled selected></option>
                                        {{#each Cotizaciones}}
                                        <option value="{{IdCotizacion}}">Id: {{IdCotizacion}} <p
                                                class="badge bg-danger">
                                                Monto: [{{FMoney Monto}}] </p>
                                        </option>
                                        {{/each }}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Usuario a asignar recurso:</label>
                                    <select name="IdUsuarioAsignado" id="IdUsuario" class="">
                                        <option value="0" hidden></option>
                                        {{#each Usuarios}}
                                        <option value="{{IdUsuario}}">
                                            {{Nombre }} {{PrimerApellido}} [{{Cargo}}]
                                            {{/each }}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="inputMount" class="form-label">Monto total</label>
                                    <div class="input-group">
                                        <div class="input-group-text">$</div>
                                        <input required name="monto" type="text" class="form-control" id="inputMount"
                                            placeholder="14500.00">
                                    </div>
                                </div>
                                <div class="col-md-12 p-3 pt3">
                                    <label class="form-label">Comentarios adicionales:</label>
                                    <div class="form-floating">
                                        <textarea name="comentarios" class="form-control"
                                            placeholder="Leave a comment here" id="floatingTextarea2"
                                            style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Comentarios</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="no-border modal-footer bg-rgba-dark m-0">
                    <input type="submit" value="Reasignar" class="btn btn-primary w-50"></input>
                    </form>
                    <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </form>
            </div>
        </div>
    </div <!-- offcanvas -->
    <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header bg-dark-blue">
            <h5 id="offcanvasRightLabel">Reasignaciones </h5>
            <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">

                {{#each ReasignacionesData}}
                <div class="mb-2 border border-3 border-secondary rounded-3 ">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{this.Nombre}}-{{this.PrimerApellido}} [{{this.Cargo}}]</h5>
                            <small>{{timeago this.FECHA}}</small>
                        </div>
                        <span class="badge bg-secondary">Observaciones</span>
                        <p class="mb-1">{{this.Observacion}}</p>
                    </a>
                    <div class="w-100 bg-dark-blue p-2 rounded-bottom">
                        <small type="button" class="">
                            Monto asignado: <span class="badge bg-success">{{FMoney this.MontoAsignado}}</span>
                        </small>
                        <small type="button" class="">
                            Monto disponible: <span class="badge bg-danger">{{FMoney this.CajaChica}}</span>
                        </small>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Detalles de la comprobación -->
<div class="p-4">
    <div class="container-fluid p-0">
        <div class="w-100 bg-dark py-3 text-white text-center">
            Detalles de la comprobación
        </div>
        <div class="container p-3 bg-dark-blue">
            <div class="row p-2 m-0 text-white">
                <div class="col-md-2 my-3">
                    <div class="w-50 bg-dark d-inline p-2 ">
                        Folio:
                    </div>
                    <div class="w-50 bg-secondary d-inline p-2">
                        {{AsignacionPresupuesto.IdAsignacionPresupuesto}}
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="w-50 bg-dark d-inline p-2 ">
                        Fecha:
                    </div>
                    <div class="w-50 bg-secondary d-inline p-2">
                        {{FormatDate AsignacionPresupuesto.Fecha}}
                    </div>
                </div>
                <div class="col-md-6 my-3">
                    <div class="w-50 bg-dark d-inline p-2 ">
                        Usuario que comprueba:
                    </div>
                    <div class="w-50 bg-secondary d-inline p-2">
                        {{AsignacionPresupuesto.NombreRecibe}}-{{AsignacionPresupuesto.ApellidoRecibe}}
                        [{{AsignacionPresupuesto.CargoRecibe}}]
                    </div>
                </div>
            </div>
            <div class="row p-2 m-0 text-white">
                <div class="col-md-3 my-3">
                    <div class="w-50 bg-dark d-inline p-2 ">
                        Monto Asignado:
                    </div>
                    <div class="w-50 bg-secondary d-inline p-2">
                        {{FMoney AsignacionPresupuesto.Monto}}
                    </div>
                </div>
                <div class="col-md-5 my-3">
                    <div class="w-50 bg-dark d-inline p-2 ">
                        Asignado Por:
                    </div>
                    <div class="w-50 bg-secondary d-inline p-2">
                        {{AsignacionPresupuesto.NombreAsigna}}-{{AsignacionPresupuesto.ApellidoAsigna}}
                        [{{AsignacionPresupuesto.CargoAsigna}}]
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-dark px-3 py-3 " id="table">
            <table id="table_Comprobar" class="table table-dark table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Concepto</th>
                        <th>Rubro</th>
                        <th>Fecha</th>
                        <th>Folio/Referencia</th>
                        <th>Contribuyente</th>
                        <th>Importe</th>
                        <th>Iva</th>
                    </tr>
                </thead>
                <tbody class="">
                    {{#each comprobaciones}}
                    <tr class="">
                        <td>{{Concepto}}</td>
                        <td> {{Rubro}}</td>
                        <td>{{FormatDate Fecha}}</td>
                        <td>{{FolioNotaFactura}}</td>
                        <td> {{Contribuyente}}</td>
                        <td>{{FMoney Monto}}</td>
                        <td>{{GetIva Monto}}</td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>
            <form hidden id="tableForm"
                action="/comprobacionDeGastos/comprobar/{{AsignacionPresupuesto.IdAsignacionPresupuesto}}/{{IdReasignacion}}"
                method="post">
                <div class="row px-4">
                    <div class="col-sm-3 p-0 border border-white">
                        <input required type="text" name="Concepto" class="table-inputs bg-dark text-white w-100"
                            placeholder="Concepto">
                    </div>
                    <div class="col-sm-1 p-0 border border-white ">
                        <select required name="IdRubro" placeholder="Rubro"
                            class="form-select table-inputs bg-dark text-white w-100"
                            aria-label="Default select example">
                            <option hidden value="">Rubro</option>
                            {{#each Rubros}}
                            <option value="{{IdRubro}}">{{Rubro}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-3 p-0 border border-white ">
                        <input required name="UrlArchivo" value="cargar" class="table-inputs bg-dark text-white w-100"
                            type="file">
                    </div>
                    <div class="col-sm-2 p-0 border border-white ">
                        <input required name="NotaFactura" type="text" class="table-inputs bg-dark text-white w-100"
                            placeholder="# Factura/Nota">
                    </div>
                    <div class="col-sm-2 p-0 border border-white ">
                        <select required name="IdContribuyente"
                            class="form-select table-inputs bg-dark text-white w-100">
                            <option hidden value="">Contribuyente</option>
                            {{#each Contribuyentes}}
                            <option value="{{IdContribuyente}}">{{Contribuyente}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-1 p-0 border border-white ">
                        <input required step=".01" min="0" type="number" name="Gasto"
                            class="table-inputs bg-dark text-white w-100" placeholder="Monto">
                    </div>
                </div>
                <button class="d-inline btn-flip add-button btn btn-primary rounded-circle" type="submit">
                    <i class="fas fa-save"></i>
                </button>
                <button onClick="hideRow()" class="d-inline btn-flip add-button btn btn-danger rounded-circle"
                    type="button">
                    <i class="fas fa-trash"></i>
                </button>
            </form>
            <button onClick="showRow()" class="btn-flip add-button btn btn-success rounded-circle" type="button">
                <i class="fas fa-plus"></i>
            </button>
            <div class="row justify-content-end px-4">
                <div class="col-md-1 p-1 btn-secondary text-center">
                    Suma:
                </div>
                <div class="col-md-2 p-1 btn-danger text-center">
                    {{FMoney totalSuma}} MX
                </div>
            </div>
            <div class=" mt-3 text-white  row align-items-start">
                <div class="col-md-6 px-auto">
                    <div class=" border border-white text-center py-2">
                        <p class="">Estatus de la comprobacion:</p>
                        <div class="badge bg-warning text-dark ">
                            {{AsignacionPresupuesto.StatusAsignacionPresupuesto}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 border border-white text-center p-4">
                    <table class="table table-dark table-bordered  table-striped ">
                        <thead>
                            <tr>
                                <th colspan="2" class="table-active">Detalles de la asignacion a usuario</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fecha de asignacion</td>
                                <td>{{FormatDate AsignacionUserData.FECHA}}</td>
                            </tr>
                            <tr>
                                <td>Monto Asignado</td>
                                <td>{{FMoney AsignacionUserData.MontoAsignado}}</td>
                            </tr>
                            <tr>
                                <td>Monto Disponible</td>
                                <td>{{FMoney AsignacionUserData.CajaChica}}</td>
                            </tr>
                            <tr>
                                <td>Observaciones</td>
                                <td>{{AsignacionUserData.Observacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>